
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.content img{
    width: 100%;
    height: 650px;
    border-radius: 10px;
    padding: 10px;
}

.content .inner-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(210, 188, 170);
    opacity: 0.77;
    color: black;
    font-size: 30px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 5px 5px gray;
}

.recipe-details{
    width:70%;
    margin: 17px auto ;
    display:block;
    align-items: center;
}

.ingredients, .instructions{
    text-align: justify;
    font-family: "Alice", serif;
}

.ingredients h2, .instructions h2{
    margin-top: 5px;
    font-weight:bold;
}

iframe{
    margin-top: 27px;
    height: 515px;
    width: 100%;
}

.video{
    width: 78%;
    margin: 3rem auto;
}